axis1-ws-security/src/main/resources/wsdl/simple-order-service.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.redhat.com/samples/ws/OrderService/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"
	name="OrderService" targetNamespace="http://www.redhat.com/samples/ws/OrderService/">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy"
			xmlns:tns="http://www.redhat.com/samples/ws/OrderService/"
			attributeFormDefault="unqualified" elementFormDefault="unqualified"
			targetNamespace="http://www.redhat.com/samples/ws/OrderService/">
			<xs:element name="PlaceOrderResponse" type="tns:PlaceOrderResponse" />
			<xs:complexType name="PlaceOrderType">
				<xs:sequence>
					<xs:element name="in" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PlaceOrderResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="out" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="PlaceOrder" nillable="true"
				type="tns:PlaceOrderType" />
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="PlaceOrder">
		<wsdl:part element="tns:PlaceOrder" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="PlaceOrderResponse">
		<wsdl:part element="tns:PlaceOrderResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="OrderService">
		<wsdl:operation name="PlaceOrder">
			<wsdl:input message="tns:PlaceOrder" name="PlaceOrder">
			</wsdl:input>
			<wsdl:output message="tns:PlaceOrderResponse" name="PlaceOrderResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OrderServiceSoapBinding" type="tns:OrderService">
		<wsp:PolicyReference URI="#SecurityTimestampPolicy"/>
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="PlaceOrder">
			<soap:operation soapAction="http://www.redhat.com/samples/ws/PlaceOrder" style="document" />
			<wsdl:input name="PlaceOrder">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="PlaceOrderResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="OrderService">
		<wsdl:port binding="tns:OrderServiceSoapBinding" name="OrderServicePort">
			<soap:address location="http://localhost:8080/webservice-sample/OrderService" />
		</wsdl:port>
	</wsdl:service>

	<wsp:Policy xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy" wsu:Id="SecurityTimestampPolicy" >
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:Layout>
					<wsp:Policy>
						<sp:Lax />
					</wsp:Policy>
				</sp:Layout>
				<sp:IncludeTimestamp />

<!-- 				<sp:AsymmetricBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"> -->
<!-- 					<wsp:Policy> -->
<!-- 						<sp:Layout> -->
<!-- 							<wsp:Policy> -->
<!-- 								<sp:Lax /> -->
<!-- 							</wsp:Policy> -->
<!-- 						</sp:Layout> -->
<!-- 						<sp:IncludeTimestamp /> -->
<!-- 					</wsp:Policy> -->
<!-- 				</sp:AsymmetricBinding> -->
<!-- 
				<sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          			<wsp:Policy>
            			<sp:TransportToken>
              				<wsp:Policy>
                				<sp:HttpsToken RequireClientCertificate="false" />
              				</wsp:Policy>
            			</sp:TransportToken>
            			<sp:AlgorithmSuite>
              				<wsp:Policy>
                				<sp:Basic256 />
              				</wsp:Policy>
            			</sp:AlgorithmSuite>
            			<sp:Layout>
              				<wsp:Policy>
                				<sp:Lax />
              				</wsp:Policy>
            			</sp:Layout>
            			<sp:IncludeTimestamp />
          			</wsp:Policy>
        		</sp:TransportBinding>
-->

			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>

</wsdl:definitions>